p {
    margin: 6px;
    padding: 6px;
    border: 4px #B5838D;
    width: 100px;
    height: 100 px;
    background-color: #FFB4A2;
}
.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto
}
.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #e38c1e
}
.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E
}
.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem
}
.flexbox-container-child {
    border: 2px green
}
